{% extends "base.html" %}
{% block content %}

<div class="wrapper">

    <h3 class="white-text center-align">All Complaints</h3>

    <ul class="collapsible">
        {% for complaint in complaints %}
        <li>
            <div class="collapsible-header white-text grey darken-3 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="" class="btn-small green accent-4">Closed</a>
                    <a href="" class="btn-small blue lighten-3">Edit</a>
                </div>
                <div class="col s9">
                    <strong>{{ complaint.category_name }}</strong> : {{ complaint.date_of_complaint }}
                {% if complaint.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle white-text tooltipped"
                        data-position="right" data-tooltip="URGENT"></i>
                {% endif %}
                </div>
            </div>
            <div class="collapsible-body black-text white">
                <strong>{{ complaint.complaint_subject }}</strong>
                <p>{{ complaint.complaint_description }}</p>
                <p><em>by: {{ complaint.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}