{% extends "base.html" %}
{% block content %}

<div class="wrapper">

    <h3 class="white-text center-align">All Complaints</h3>

    <div class="input-field col s12">
        <a class="dropdown-trigger btn-large white black-text text-shadow" name="category_name" id="category_name" href="#" data-target="dropdown1">Choose Category</a>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="/get_complaints#all_complaints">All Complaints</a></li>
            <li><a href="/get_complaints?category=Customer Services#customer_services">Customer Services</a></li>
            <li><a href="/get_complaints?category=Regulatory#regulatory">regulatory</a></li>
            <li><a href="/get_complaints?category=Finance#finanace">Finance</a></li>
            <li><a href="/get_complaints?category=Business#business">Business</a></li>
        </ul>
    </div>

    <ul class="collapsible">
        {% for complaint in complaints %}
        <li>
            <div class="collapsible-header white-text grey darken-3 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == complaint.created_by|lower %}
                        <a href="{{ url_for('delete_complaint', complaint_id=complaint._id) }}" class="btn-small green accent-4">Delete</a>
                        <a href="{{ url_for('edit_complaint', complaint_id=complaint._id) }}" class="btn-small blue lighten-3">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ complaint.category_name }} : {{ complaint.full_name }}</strong> : {{ complaint.date_of_complaint }}
                {% if complaint.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle white-text tooltipped"
                        data-position="right" data-tooltip="URGENT"></i>
                {% endif %}
                {% if complaint.is_closed =="on" %}
                    <i class="fas fa-minus-circle red-text tooltipped"
                        data-position="right" data-tooltip="CLOSED"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body black-text white">
                <strong>{{ complaint.complaint_subject }}</strong>
                <p>{{ complaint.complaint_description }}</p>
                <p><em>by: {{ complaint.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}